@tailwind base;
@tailwind components;
@tailwind utilities;

#tabli{
    width: 400px;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
}

#wrapper{
    text-align:center;
}

.formi{
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

#addexpense{
    max-width: 200 px;
}

.deletebuttons{
    text-align: center;
    padding: 0.5rem;
    color: white;
    background-color: #ff2c2cbd;
    border-radius: 8px;
    cursor: pointer;
}